In [11]:
#examples on multiple  functions  arguements
def foo(first , second , third , *therest):
        print("first: %s" %first) #prints the  values of first as first:1 and so on others second ,third
        print("second: %s" %second)
        print("third: %s"%third)
        print("and all the rest....%s" % (list(therest))) #prints the   rest values in list form

foo(1,2,3,4,5,6,7) #passing values in function

first: 1
second: 2
third: 3
and all the rest....[4, 5, 6, 7]

In [14]:
 def bar(first,second,third,**options):
    if options.get("action")=="sum":
        print("The sum is: %d" %(first + second + third)) #prints  the sum of the first,second and third
        
        if options.get("number")== "first":
            return first
        
result=bar(77,18,55,action="sum" ,number ="first") #assigns the given values to the function bar
print("Result: %d" %result) #prints the first number

The sum is: 150
Result: 77

In [19]:
 def Here(a,b,c):
    print("a:",a)
    print("b:",b)
    print("c:",c)
    
args=("I","am","sandesh") #using *args  to pass arguments to this function(Here)
Here(*args) # *args is used to pass variable of argument to fuction

kwargs = { "a":"I","b":"love" ,"c":"sports"} #using **kwargs  to pass arguments to this function(Here)
Here(**kwargs) #  **kwargs is used to pass keyworded variable 

print(kwargs)
print(args)

a: I
b: am
c: sandesh
a: I
b: love
c: sports
{'a': 'I', 'b': 'love', 'c': 'sports'}
('I', 'am', 'sandesh')

In [28]:
 #examples on regular expression
import re #importing regular expression as re
print((re.split(r'\s','we are spliting this word'))) #spliting this sentence using re.split function

['we', 'are', 'spliting', 'this', 'word']

In [33]:
import re
def test_email(your_pattern):
    pattern = re.compile(your_pattern)
    emails = ["sandeshnepal7@gmail.com", "python-list@python.org", "wha.t.`1an?ug{}lyemail.com" ] #giving one wrong emal to test
    for email in emails:
        if not re.match(pattern, email):
            print("You failed to match %s" % (email)) #conditions to check email.is it right or wrong
        elif not your_pattern:
            print("Forgot to enter a pattern!")
        else:
            print("Pass")

pattern = r"\"?([-a-zA-Z0-9.`?{}]+@\w+\.\w+)\"?" #here,needed pattern for email for validation
test_email(pattern)

Pass
Pass
You failed to match wha.t.`1an?ug{}lyemail.com

In [34]:
#examples on sets

a = set(["football", "cricket", "tennis"])
print(a)
b = set(["cr7", "Rafel"]) 
print(b)
#displaying the items of two different sets

{'tennis', 'football', 'cricket'}
{'Rafel', 'cr7'}

In [35]:
print(set("all alkali are base but all base are not alkali".split()))

#here all words in a set are splited. but repeated or duplicated words are listed once not double times.

{'all', 'alkali', 'but', 'are', 'base', 'not'}

In [41]:
a=set(["palpa","kaski","gulmi","rupandehi","pyuthan"])
b=set(["rolpa","palpa","dolpa","rupandehi"])

print(a.intersection(b)) #prints the intersection or common words of a with b in a set
print(b.intersection(a))  #prints the intersection or common words of b with b in a set

print(a.union(b)) #prints the union words of  a with b in a set

{'rupandehi', 'palpa'}
{'rupandehi', 'palpa'}
{'pyuthan', 'kaski', 'palpa', 'dolpa', 'rolpa', 'gulmi', 'rupandehi'}

In [45]:
a=set(["palpa","kaski","gulmi","rupandehi","pyuthan"])
b=set(["rolpa","palpa","dolpa","rupandehi"])

print(a.difference(b)) #it prints the words in set ,removing common words from a to b

print(b.difference(a)) #it prints the words in set,removing common words from b to a

{'pyuthan', 'kaski', 'gulmi'}
{'rolpa', 'dolpa'}

In [50]:
  #examples of serialization
import json
json_string = json.dumps([7, 55, 18, "no.", "year", "date"])#dumps method takes an object and returns strings"
print(json_string) #serializing into string"

[7, 55, 18, "no.", "year", "date"]

In [51]:
import pickle
pickled_string = pickle.dumps([1, 2, 3, "a", "b", "c"])
print(pickle.loads(pickled_string)) #deserializing from the string"

[1, 2, 3, 'a', 'b', 'c']

In [59]:

import json

# fix this function, so it adds the given name
# and salary pair to salaries_json, and return it
def add_employee(salaries_json, name, salary):
    
    salaries = json.loads(salaries_json)
    salaries[name] = salary

    return json.dumps(salaries)
    
    
salaries = '{"Alfred" : 300, "Jane" : 400 }'
new_salaries = add_employee(salaries, "Me",800)
decoded_salaries = json.loads(new_salaries)
print(decoded_salaries["Alfred"]) #prints the Alfred salary ie.300
print(decoded_salaries["Jane"])#prints the Jane salary i.e. 400
print(decoded_salaries["Me"])#prints the salaries assigned into me i.e.800"

300
400
800

In [62]:
# examples on partial functions
from functools import partial
def function(a,b,c,x):
    
    return a**3 + 2**b + 4*c + x

y=partial(function,2,5,2) #a partial function that calls function with a as 2, b as 5 , and c as 2 
 
print(y(5)) #calls y with value of x = 5.  so output is 53 by solving it above defined

53

In [70]:
from functools import partial
def multiply(x,y):
        return x * y

# create a new function that multiplies by 7
dbl = partial(multiply,7)

print(dbl(18))

126